{{- /* Footer custom content area start */ -}}
<script data-website-id="f88f6a05-ed90-45ab-bcd9-bbc525818e3c"
        async defer src="https://umami.nawan.my.id/umami.js"
        crossorigin="anonymous" 
        integrity="sha384-c33fd7163ef5c1b207b115bed836920ca7487dbec6e434fb2016f0bbc0b0bde7aeec0668faad673fdad4e2c148fa98ba"></script>
<script data-goatcounter="https://nawan.goatcounter.com/count"
        async src="//gc.zgo.at/count.v3.js"
        crossorigin="anonymous"
        integrity="sha384-QGgNMMRFTi8ul5kHJ+vXysPe8gySvSA/Y3rpXZiRLzKPIw8CWY+a3ObKmQsyDr+a"></script>
{{- /* Footer custom content area end */ -}}
