{{- /* Footer custom content area start */ -}}
<script data-website-id="be8cad15-b9ec-4bec-b168-208a3c6ec3eb"
        async defer src="https://umami.nawan.my.id/script.js"
        crossorigin="anonymous" 
        integrity="sha384-ogo5oiAhuH9I88dS5ohzoJfMzZPC+0xSvb0FkbF5irwCHGwsOrxsnEfTnxH0p07P"></script>
<script data-goatcounter="https://nawan.goatcounter.com/count"
        async src="//gc.zgo.at/count.v3.js"
        crossorigin="anonymous"
        integrity="sha384-QGgNMMRFTi8ul5kHJ+vXysPe8gySvSA/Y3rpXZiRLzKPIw8CWY+a3ObKmQsyDr+a"></script>
{{- /* Footer custom content area end */ -}}
